<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title><%- locals.title %>></title>
        <style>
            .dark-mode {
        background-color: rgb(17, 16, 16);
        & p,
        h2,
        span,label,div {
          color: #cccccc;
        }
        & .lightMode {
          display: block;
        }
        & .darkMode {
          display: none;
        }
      }
      .lightMode {
        display: none;
      }
        </style>
    </head>
    <body>
        <div
            class="d-flex justify-content-between flex-wrap flex-md nowrap align-item-center pt-3 pb-2mb-3 border-bottom">
            <h1 class="h2 text-white">Edit <%= data.title %></h1>
            <div class="btn-tootbar mb-2 mb-md 0">
                <div class="btn-group me-2">
                    <button class="btn btn-sm btn-outline-secondary">?</button>
                </div>
            </div>
        </div>
        <div class="col py-3">
            <div class="row">
                <div class="col">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="/FAV/">Dasboard</a>
                            </li>
                            <li class="breadcrumb-item active ">
                                <%= data.title%>
                            </li>
                        </ol>
                    </nav>
                </div>
                <div class="col text-end fw-lighter ">
                    <b>Movie Id: <%= data.id %></b>
                </div>
            </div>
        </div>

        <form action="/FAV/edit/<%= data.id %>" method="post"  >
            <div class="row formgroup mb-4">
                <div class="col">
                    <label for="id" class="">Movie ID</label>
                    <input type="text" class="form-control" id="id" name="id" value="<%= data.id%>" placeholder="Movie ID" required>
                </div>
                <div class="col">
                    <label for="title" class="">Movie Name</label>
                    <input  type="text" class="form-control" id="title" name="title" value="<%= data.title%>" placeholder="Movie Name" required>
                </div>
                <div class="col">

                    <img src="<%= data.image %>" alt="anh" width="200" height="200">
                </div>
                <div class="col">
                    <label for="lastName" class="">Movie Image</label>
                    <input type="file" class="form-control" id="image" name="image" value="<%= data.image %>" placeholder="Movie Image" required>
                </div>
                <div class="form-group mb-4">
                    <label for="plot" class="">Movie Plot</label>
                    <textarea class="form-control" name="plot" id="plot" cols="30" rows="12" placeholder="Movie Plot"><%= data.plot %>
                    </textarea>
                </div>
                <div class="col">
                    <label for="year" class="">Movie Year</label>
                    <input type="text" class="form-control" id="year" name="year" value="<%=data.year%>" placeholder="Movie Year" required>
                </div>

                <div class="col">
                    <label for="details" class="">Movie Languages</label>
                    <input type="text" class="form-control" id="languages" name="languages" value="<%= data.languages %>" placeholder="Movie languages" required>
                </div>
                <div class="col">
                    <label for="details" class="">Movie Companies</label>
                    <input type="text" class="form-control" id="companies" name="companies" value="<%= data.companies %>" placeholder="Movie Companies" required>
                </div>
                <a href="/FAV/" type="button"  class="btn btn-info btn-small text-white mt-4">Back</a>
                <div class="form-group mb-4">
                    <button type="submit" class="btn btn-primary">Update Customer</button>
                    <button type="button" class="btn btn-danger" data-bs-toggle="modal" id="deleteButton" 
                    data-bs-target="#deleteModal">Delete Customer</button>
                </div>
            </div>
        </form>


        <div class="modal fade" tabindex="-1" role="dialog" id="deleteModal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="modal-title">
                            You about to remove a customer record
                        </div>
                        <button type="button" class="btn btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <div class="modal-body">
                        <p>
                            this will remove the customer rocord of <b class="fw-bold"><%= data.title %></b>
                            Are you sure?
                        </p>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <form action="./<%= data.id%>?_method=DELETE" method="post" class="position-relative">
                            <button type="submit" class="btn btn-primary">Yes,Remove Customer</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>