<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title><%- locals.title %></title>
    </head>
    <body>
        <div
            class="d-fle justify-conten-between flex-wrap flex-md nowrap align-item-center pt-3 pb-2mb-3 border-bottom">
            <h1 class="h2 text-white"><%= data.title %></h1>
            <div class="btn-tootbar mb-2 mb-md 0">
                <div class="btn-group me-2">
                    <button class="btn btn-sm btn-outline-secondary">share</button>
                    <button class="btn btn-sm btn-outline-secondary">export</button>

                </div>
            </div>
        </div>

        <div class="col py-3">
            <div class="row">
                <div class="col">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="/FAV/">Dasboard</a>
                            </li>
                            <li class="breadcrumb-item active text-white">
                                <%= data.title %>
                            </li>
                        </ol>
                    </nav>
                    <div class="col text-end fw-lighter text-white">
                        <b>Movie Id: <%= data.id %></b>
                    </div>
                </div>
            </div>
        </div>

        <ul class="list-group">
            <li class="list-group-item">
                <div class="row">
                    <div class="col" style="max-width: 140px;">
                        <b>Movie Full Name:</b>
                    </div>
                    <div class="col"><%= data.fullTitle %></div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="row">
                    <div class="col" style="max-width: 140px;">
                        <b>Movie Image</b>
                    </div>
                    <div class="col">
                        <img width="300" height="350" src="<%= data.image %>" alt="anh">
                    </div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="row">
                    <div class="col" style="max-width: 140px;">
                        <b>Movie Year</b>
                    </div>
                    <div class="col"><%= data.year %></div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="row">
                    <div class="col" style="max-width: 140px;">
                        <b>Movie Plot</b>
                    </div>
                    <div class="col"><%= data.plot %></div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="row">
                    <div class="col" style="max-width: 140px;">
                        <b>Movie languages</b>
                    </div>
                    <div class="col"><%= data.languages%></div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="row">
                    <div class="col" style="max-width: 140px;">
                        <b>Movie Companies</b>
                    </div>
                    <div class="col"><%= data.companies%></div>
                </div>
            </li>

        </ul>

        <a href="/FAV/" type="button"
            class="btn btn-info btn-small text-white mt-4">Back</a>
    </body>
</html>